<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="org.sozluk.common.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT_WITH_CALLER" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %message%n%xException{7}%caller{3}</pattern>
    </encoder>
  </appender>

  <logger name="org.sozluk" level="DEBUG">
    <appender-ref ref="STDOUT_WITH_CALLER" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
